<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    </head>
    <body>
      <style>
        h1 {text-align: center;
            font-size: 150%;
            padding-top: 5px;}
      </style>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">NCAA Lacrosse Stats</a>
    </nav>
      <div class="jumbotron">
        <div class="container">
        <div class="GoalsXShots">
     <h1> Shot Volume, Goals, Shooting Percentages </h1>
     <iframe width="100%" height="642" frameborder="0"
  src="https://observablehq.com/embed/3a1dfae188d222c1?cells=viewof+variousCharts"></iframe>
    <div class="Faceoffs">
 <h1> Faceoffs, Ground Balls, Self Wins </h1>
 <iframe width="100%" height="642" frameborder="0"
 src="https://observablehq.com/embed/bc594124d2faf577?cells=viewof+variousCharts"></iframe>
</div>
<div class="Assists">
  <h1> Assists, Turnovers </h1>
  <iframe width="100%" height="642" frameborder="0"
  src="https://observablehq.com/embed/bacc9ac201c83b52?cells=viewof+variousCharts"></iframe>
</div>
<div class="by_year">
  <h1> Scoring By Class</h1>
  <iframe width="100%" height="642" frameborder="0"
  src="https://observablehq.com/embed/af72c7362eac19e3?cells=viewof+variousCharts"></iframe>
</div>
<div class="Defense">
  <h1> Defense </h1>
  <iframe width="100%" height="642" frameborder="0"
  src="https://observablehq.com/embed/d216799d25214159?cells=viewof+varriousCharts"></iframe>
</div>
</div>
</div>
    </body>
</html>
